[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PySimpleGUI = "~=4.60.4"

[dev-packages]
pytest = "7.4.0"
bs4 = "*"
translators = "*"

[requires]
python_version = "3.10"
